<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.softsociety.exam.dao.BoardDAO">

<!--판매글 저장 -->
<insert id="insertBoard" parameterType="Board">
	insert
	into
		market_board (
			boardnum
			, memberid
			, title
			, contents
			, category
		)
	values (
			market_board_seq.nextval
			, #{boardnum}
			, #{memberid}
			, #{title}
			, #{contents}
			, #{category}
		)
</insert>

<!-- 판매글 목록 조회 -->
<select id="selectAll" parameterType="" resultType="">
    select
        boardnum
        , title
        , memberid
    from
        market_board
    where
        soldout = 'N'
    order by
        boardnum desc
</select>


</mapper>
