<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.softsociety.exam.dao.BoardDAO">

<!-- 4) 판매 정보 게시판 목록 -->
<select id="selectAll" resultType="Board">
    select
        boardnum
        , title
        , memberid
        , category
    from
        market_board
    where
        soldout = 'N'
    order by
        boardnum desc
</select>

<!-- 5) 판매글 등록 -->
<insert id="insertBoard" parameterType="Board">
	insert
	into
		market_board (
			boardnum
			, memberid
			, title
			, contents
			, category
		)
	values (
			market_board_seq.nextval
			, #{memberid}
			, #{title}
			, #{contents}
			, #{category}
		)
</insert>

<!-- 6-1) 판매글 읽기 -->
<select id="read" resultType="Board">
		select
			memberid
			, to_char(inputdate, 'YYYY-MM-DD HH24:MI:SS') inputdate 
			, boardnum
			, title
			, contents
		from
			market_board
		where 
			boardnum = #{boardnum}
	</select>
	
<!-- 6-2) 판매글 삭제 -->
<delete id="delete" parameterType="Board">
		delete
		from
			market_board
		where 
			boardnum = #{boardnum}
		and
			memberid = #{memberid}
	</delete>

<!-- 6-3) 판매글 리플달기 -->
<insert id="insertReply" parameterType="Reply">
    insert
    into
        market_reply (
            replynum
            , boardnum
            , memberid
            , replytext
        )
    values (
            market_reply_seq.nextval
            , #{boardnum}
            , #{memberid}
            , #{replytext}
    )
</insert>

<!-- 6-4) 판매글 구매하기 -->
<update id="buyProduct" parameterType="Board">
    update
        market_board
    set
        soldout = 'Y'
        , buyerid = #{memberid}
    where 
    	boardnum = #{boardnum}
</update>
	
<!-- 7) 판매상품 검색 -->
<select id="selectProduct" resultType="Map">
    select
        boardnum
        , category
        , title
    from
        market_board
    where
        soldout = 'N'
        <if test="category != null">
            and category = #{category}
        </if>
        <if test="item != null and item != ''">
            and (title like '%' || #{item} || '%' or contents like '%' || #{item} || '%')
        </if>
    order by
        boardnum desc
</select>

</mapper>
