<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>join</title>

<script>
function check() {
	let memberid = document.getElementById('memberid').value;
	let memberpw = document.getElementById('memberpw').value;
	let membername = document.getElementById('membername').value;
	let phone = document.getElementById('phone').value;
	
	if(memberid.length < 3 || memberid.length > 10){
		alert('id는 3~10자로 입력하세요.');
	return false;
	}

	else if(memberpw.length < 3 || memberpw.length > 10){
		alert('pw는 3~10자로 입력하세요.');
	return false;
	}
	else if(membername == ''){
		alert('이름을 입력하세요.');
	return false;
	}
	else if(phone == ''){
		alert('전화번호를 입력하세요.');
	return false;
	}
	return true;
}
</script>


</head>
<body>

<div class="div2">
<br>
<br>

<h1 class="h1">회원가입</h1>

<br>

	<div class="form">
    <form th:action="@{/member/join}" method="post" class="form2" onsubmit="return check()" >
        <table>
            <tr>
                <th>ID</th>
                <td><input type="text" name="memberid" id="memberid" placeholder="아이디를 입력해주세요"></td>
            </tr>
            <tr>
                <th>비밀번호</th>
                <td><input type="password" name="memberpw" id="emberpw" placeholder="비밀번호를 입력해주세요"><br></td>
            </tr>
            <tr>
                <th>이름</th>
                <td><input type="text" name="membername" placeholder="전화번호를 입력해주세요"></td>
            </tr>
            <tr>
                <th>전화번호</th>
                <td><input type="text" name="phone" placeholder="전화번호를 입력해주세요"></td>
            </tr>
        </table>
        <div class="bt">
                 <input type="submit" value="가입" class="bt1">
                 <input type="reset" value="다시쓰기" class="bt1">

        </div>
        </form>
	</div>        
</div>
</body>
</html>