<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>join</title>

<script>
function check() {
	let memberid = document.getElementById('memberid');
	let memberpw = document.getElementById('memberpw');
	let membername = document.getElementById('membername');
	let phone = document.getElementById('phone');
	let idChk = 0;

	$.ajax({
	    url: "idCheck",
	    type: "post",
	    data: {id : memberid},
	    data : text,
	    success:function(data){
	        if(data > 0){ 
	        	alert("아이디가 존재합니다. 다른 아이디를 입력해 주세요");
	        } else {
	        	alert("사용가능한 아이디입니다");
	             idChk=1;
	        }
	    },
	    error:function(error){
	        alert("아이디를 다시 입력해 주세요");
	    }
	});
	
	if(memberid.value.length < 3 || memberid.value.length > 10){
		alert("id는 3~10자로 입력하세요.");
		return false;
	}

	if(memberpw.value.length < 3 || memberpw.value.length > 10){
		alert("pw는 3~10자로 입력하세요.");
		return false;
	}	
	if(membername.value == ''){
		alert("이름을 입력하세요.");
		return false;
	}
	if(phone.value == ''){
		alert("전화번호를 입력하세요.");
		return false;
	}
	return true;
}
</script>


</head>
<body>

<div class="div2">
<br>
<br>

<h1 class="h1">회원가입</h1>

<br>

	<div class="form">
    <form th:action="@{/member/join}" method="post" class="form2" onsubmit="return check()" >
        <table>
            <tr>
                <th>ID</th>
                <td><input type="text" name="memberid" id="memberid" placeholder="아이디를 입력해주세요"></td>
            </tr>
            <tr>
                <th>비밀번호</th>
                <td><input type="password" name="memberpw" id="memberpw" placeholder="비밀번호를 입력해주세요"><br></td>
            </tr>
            <tr>
                <th>이름</th>
                <td><input type="text" name="membername" id="membername" placeholder="이름을 입력해주세요"></td>
            </tr>
            <tr>
                <th>전화번호</th>
                <td><input type="text" name="phone" id="phone" placeholder="전화번호를 입력해주세요"></td>
            </tr>
        </table>
        <div class="bt">
                 <input type="submit" value="가입" class="bt1">
                 <input type="reset" value="다시쓰기" class="bt1">

        </div>
        </form>
	</div>        
</div>
</body>
</html>