<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>판매 정보</title>
<style>
a{
	text-decoration-line: none;
}
</style>
<script th:src="@{/js/jquery-3.6.0.js}"></script>
<script>
$(document).ready(function(){
	init();
	$('#formBt').click(formSubmit);

});

function init(){
	let boardnum = $('#boardnum').val();
	let replynum = $('#replynum').val();
	$.ajax({
		url: "replylist",
		type: "get",
		data: {boardnum: boardnum},
		dataType: "json",
		success: function(replylist){
			let str = '<table>';
			$(replylist).each(function(i,item){
				str += '<tr>';
				str += '<td>' + item.memberid + '</td>';
				str += '<td>' + item.replytext + '</td>';
				str += '<td>' + item.inputdate + '</td>';
				str += `<td><a href="|javascript:deleteReply(item.replynum,item.boardnum)|">x</a></td>`;
				str += '</tr>';
			});
			str += '</table>';
			$('#replylist').html(str);
		}
	});
}

function formSubmit(){
	let replytext = $('#replytext').val();
	let boardnum = $('#boardnum').val();
	
	if(replytext.length <= 0 ){
		alert('댓글을 입력해주세요.');
		return false;
	}
	if(replytext.length > 149){
		alert('댓글은 150자 이내로 작성해주세요.');
		return false;
	}

	$.ajax({
			url: 'insertReply',
			type: 'post',
			data: {replytext: replytext, boardnum: boardnum},		
			success: function(){
				$('#replytext').val('');
				alert('저장되었습니다.');
				init();
			},
			error: function(e){
				alert(e.statusText);
			}
		});
}

function deleteBoard(boardnum){
	let result = confirm("삭제하시겠습니까?");
	if(result == true){
		location.href="delete?boardnum="+boardnum;
	}
}

function buyBoard(boardnum){
	let result = confirm("구매하시겠습니까?");
	if(result == true){
		location.href="buy?boardnum="+boardnum;
	}
}

function deleteReply(replynum, boardnum) {
	let result = confirm("삭제하시겠습니까?");
	if(result == true){
		let boardnum = $('#boardnum').val();
		let replynum = $('#replynum').val();
		
		$.ajax({
			url: 'deleteReply',
			type: 'post',
			data: { replynum: replynum, boardnum: boardnum },
			success: function(){
				alert('댓글이 삭제되었습니다.');
				init();
			},
			error: function(e){
				alert(e.statusText);
			}
		});
	}
}
	
</script>
</head>
<body>
	<h1>[ 판매 정보 ]</h1>
	
		<div id="readBoard" th:each="b : ${board}">
			<table>
				<tr>
		            <th>작성자</th>
		            <td th:text="${b.memberid}"></td>
				</tr>
				<tr>
		            <th>작성일</th>
		            <td th:text="${b.inputdate}"></td>
		        </tr>
				<tr>
		            <th>제목</th>
		            <td th:text="${b.title}"></td>
				</tr>
				<tr>
					<th>내용</th>	
					<td th:text="${b.contents}"></td>			
				</tr>
				<tr>
					<td colspan="2">
						<span th:if="${#authentication.name} == ${b.memberid}">
							<a th:href="|javascript:deleteBoard(boardnum=${b.boardnum})|">
								<button class="bottom">삭제</button>
						   </a>				   
						</span>
						<span th:if="${#authentication.name} != ${b.memberid}">
							<a th:href="|javascript:buyBoard(boardnum=${b.boardnum})|">
								<button class="bottom">구매하기</button>
						   </a>				   
						</span>
						<a th:href="@{/board/list}"><input type="button" value="목록으로 돌아가기"></a>
					</td>
				</tr>
			</table>
			
			<form id="replyForm">
			<input type="text" name="replytext" id="replytext">
			<input type="hidden" id="boardnum" name="boardnum" th:value="${b.boardnum}">&nbsp;
			<input type="button" value="확인" id="formBt"><br><br>
			</form>
			<br>
			<div id="replylist">
					
			</div>
		</div>
</body>
</html>