<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>게 시 판</title>
<script th:src="@{/js/jquery-3.6.0.js}"></script>
<script>
$(document).ready(function(){
	init();
});

function init(){
	//서버로 요청을 보내서 글 목록 받아와서 출력
	$.ajax({
		url: "boardlist",
		type: "get",
		dataType: "json",
		success: function(list){
			let str = '<table><tr><th>번호</th><th>제목</th><th>작성자</th></tr>';
			$(list).each(function(i,item){
				str += '<tr>';
				str += '<td>' + item.boardnum + '</td>';
				str += '<td><a href="/board/read?boardnum=' + item.boardnum + '">' + item.title + '</a></td>';
				str += '<td>' + item.memberid + '</td>';
				str += '</tr>';
			});
			str += '</table>';
			$('#divlist').html(str);
		}
	});
}
</script>
<style>
.text-left{
    text-align: left;
}
</style>
</head>
<body>
	<h1><a th:href="@{/board/list}">[ 판매 정보 게시판 ]</a></h1>
	
	<div>
 		<p sec:authorize="isAuthenticated()" class="text-left">
 			<a th:href="@{/board/write}">판매글 등록</a>
 		</p>
   		<a th:href="@{/board/list}">
		<input type="button" value="목록으로 돌아가기">
		</a>
   	</div>
	<br><br>
	<!-- 목록 출력 영역 -->
	<div id="divlist">
					
	</div>
	
     
	
</body>
</html>