<!DOCTYPE html>
<html>
<head>
<meta charset="EUC-KR">
<title>Board insert</title>
</head>
<body>
	<h1>[ 판매글 등록 ]</h1>
	<div>
		<select name="job">
	        <option value="computer" selected>computer</option>
	        <option value="camera">camera</option>
	        <option value="car">car</option>
	    </select><br>
	    <input type="text" name="name"><br>
	    <textarea cols="50" rows="5">text</textarea><br>
	    
        <input type="submit" value="저장" class="bt1">
	    
	</div>
</body>
</html>